.click-item {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 300px;
  margin: 8px 25px;
  border: 5px solid rgb(241, 241, 241);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

@media (max-width: 750px) {
  .click-item {
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .click-item {
    margin: 10px;
  }
}
